/* 基本設定 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    color: #333;
    overflow-x: hidden;
}

/* 左右ナビ共通設定 */
.side-nav{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #fff;

    /* 初期状態は隠す */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;;
}

/* jsで表示 */
.side-nav.is-show{
    opacity: 1;
    visibility: visible;
}

.side-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.side-nav li{
    writing-mode: horizontal-tb;
    font-size: 11px;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

/* ナビの両端あわせ */
.left-nav{ left: 0;}
.right-nav{ right: 0;}

.left-nav li{
    transform: rotate(270deg);
}

.left-nav a{
    text-decoration: none;
    color: #333;
}

.left-nav span{
    font-weight: bold;
    margin-bottom: 5px;
}

.right-nav li{
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 9.5px;
}

/* アイコン画像の設定 */
.right-nav img{
    width: 22px;
    height: 22px;
    object-fit: contain;
}

/* 親の li は縦並び */
.icon-flex {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* otherだけを横並びにする */
.img-group {
    display: flex;       
    flex-direction: row; 
    gap: 5px;
    justify-content: center;
}

/* 画像自体のサイズを揃える */
.img-group img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* 文字（other）の調整 */
.icon-flex .label {
    margin-top: 5px;
    font-size: 11px;
}

/* 表紙セクション */
.hero-section{
    display: flex;
    height: 100vh;
    align-items: center;
}

.hero-content{
    flex: 1;
    padding-left: 10%;
}

.hero-content h1{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.02em;
}

.hero-bg{
    flex: 1;
    height: 100%;
    padding-right: 10%;
    background-color: #888;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

/* 目次ページ */
.index-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-content{
    width: 80%;
    max-width: 900px;
}

.index-content a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: baseline;
    padding: 15px 0;
}

.section-num{
    width: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    flex-shrink: 0;
}

.num{
    font-size: 1.9rem;
}

.index-content h2{
    width: 200px;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0; /* 余計な余白をリセット */
    flex-shrink: 0;
}

.section-subtitle{
    font-size: 0.9rem;
    color: #888;
    white-space: nowrap;
}

/* コンテンツページ */
.content-page{
    min-height: 100vh;
    padding: 60px 10%;
}

.section-title{
    font-size: 24px;
    border-left: 8px solid #000;
    padding-left: 15px;
    margin-bottom: 40px;
}

/* ギャラリーレイアウト */
.gallery-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.main-visual{
    grid-row: span 2;
    background-color: #888;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 2rem;
}

.sub-visual{
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

.description h3{
    margin-bottom: 20px;
    font-size: 16px;
}